@import url("../styles/backgrounds.css");
@import url("../styles/table.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #7d30ee;
  --white: #ffffff;
  --black: #000000;
  --accent: #f3edfc;
  --accent-light: #dfbff554;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

/* Input styles */
.inputContainer {
  display: flex;
  gap: 5px;
  flex-direction: column;
  position: relative;
}

.inputContainer > label {
  font-size: 18px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #666666;
}

.inputContainer > label > span {
  font-style: italic;
  font-weight: 500;
  font-size: 18px;
  /* identical to box height, or 200% */

  color: #666666;
}

.formContainer > h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 59.87px;
  /* margin-bottom: 9px; */
}

.inputContainer > * input,
textarea,
select {
  padding: 12px;
  font-size: 1rem;
  font-family: var(--font-primary);
  border: 1px solid #00000038;
  border-radius: 5px;
  width: 100%;
  color: var(--black);
}

.inputContainer > * input::placeholder,
textarea::placeholder,
select::placeholder {
  color: #acadb4;
}

.inputContainer > * input:focus,
textarea:focus select:focus {
  outline: 1px solid #7d30ee;
  border: 1px solid #7d30ee;
}

.inputError {
  border: 1px solid #d9534f !important;
}

.error {
  color: #d9534f;
  text-align: left !important;
  font-size: 0.75rem;
}

.error::first-letter {
  text-transform: uppercase;
}

.errorText {
  color: #d9534f;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Customized Scrollbar */
.customized-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
.customized-scrollbar::-webkit-scrollbar-track {
  background: #d9d9d9;
  border-radius: 15px;
}

/* Handle */
.customized-scrollbar::-webkit-scrollbar-thumb {
  background: #7d30ee;
  border-radius: 15px;
}

/* Handle on hover */
.customized-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #15348b;
}

.form-control {
  width: 100% !important;
  height: 43px !important;
}

.swal2-container {
  width: 300px !important;
  max-width: 300px !important;
}

.nav-item {
  line-height: 40px;
  margin-right: 1rem;
}

.nav-item:after {
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width 0.7s ease, background-color 0.5s ease;
}

.nav-item:hover:after {
  width: 100%;
  background: #7d30ee;
}

.card {
  color: whitesmoke;
  box-shadow: 0px 0px 20px 20px;
}
.services-submenu {
  width: 24rem;
  position: absolute;
  top: 85px;
  list-style: none;
  text-align: start;
  color: #151418;
}

.gContainer {
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
}
.cardContainer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.services-submenu li {
  background: white;
  color: #151418;
  cursor: pointer;
}

.services-submenu li a:hover {
  background: white;
  color: #7d30ee;
}

.services-submenu.clicked {
  transition: opacity 0.1s, transform 0.4s;
}
.box {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
}
.box2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #151418;
  padding: 7px;
  margin: 5px 25px;
  transition: all 300ms ease-in-out;
}

.submenu-item:hover {
  color: #7d30ee;
}

.hero {
  min-height: 100vh;
  padding-top: 12rem;
  background: url(/src/app//assets/Learn.webp) no-repeat;
  background-position: center;
  block-size: cover;
}

@media (min-width: 320px) {
  .Jcontainer {
    max-width: 280px;
    margin: auto;
  }

  .gContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2.5rem;
  }
}
@media (min-width: 375px) {
  .Jcontainer {
    max-width: 320px;
    margin: auto;
  }

  .gContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2.5rem;
  }
}
@media (min-width: 425px) {
  .Jcontainer {
    max-width: 400px;
    margin: auto;
  }

  .gContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2.5rem;
  }
}

@media (min-width: 768px) {
  .Jcontainer {
    max-width: 680px;
    margin: auto;
  }

  .gContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2.5rem;
  }
}
@media (min-width: 820px) {
  .Jcontainer {
    max-width: 700px;
    max-height: 100%;
    margin: auto;
  }
}
@media (min-width: 992px) {
  .Jcontainer {
    max-width: 900px;
    margin: auto;
  }

  .developerImg {
    max-width: 22rem;
  }
  .gContainer {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    gap: 2rem;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2.5rem;
  }
}
@media (min-width: 1024px) {
  .Jcontainer {
    max-width: 900px;
    margin: auto;
  }
  .developerImg {
    max-width: 22rem;
  }

  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap: 2.5rem;
  }

  .gContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 1120px) {
  .Jcontainer {
    max-width: 1000px;
    margin: auto;
  }

  .developerImg {
    max-width: 22rem;
  }

  .gContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }
}

@media (min-width: 1200px) {
  .Jcontainer {
    max-width: 1100px;
    margin: auto;
    display: flex;
  }

  .gContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }
}

@media (min-width: 1440px) {
  .Jcontainer {
    max-width: 1450px;
    margin: auto;
    display: flex;
  }

  .gContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }
}
@media (min-width: 1445px) {
  .Jcontainer {
    min-width: 1400px;
    margin: auto;
    display: flex;
  }

  .gContainer {
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 3rem;
  }
}
